*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #4e5259; */
    background: url(WhatsApp\ Image\ 2023-07-15\ at\ 21.57.48\ \(1\).jpeg) no-repeat;
    background-position: center top;
    background-size: cover;
}

.wrapper{
    width: 420px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, .5);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.login{
    font-size: 36px;
    text-align: center;
}

.input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px
}

.input::placeholder{
    color: #fff;
}

.btn{
    width: 100%;
    height: 45px;
    /* background: #fff; */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}